<div>
    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try again later.</p>
    <p class="govuk-body">We saved your answers. They will be available for 7 days.</p>
    <p class="govuk-body">
        <a class="govuk-link" href="#">Contact the MOD Veterans Helpline</a> if you need to make changes to your claim or speak to someone about it.
    </p>
</div>